<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Material Dashboard</title>
    
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/dashboard.css">
</head>
<body data-ng-app="dashboardApp" data-ng-controller="baseController" data-ng-init="pullData()">

<!-- APP INIT --->
<div class="mdl-layout mdl-js-layout mdl-color--blue-50 mdl-layout--fixed-header mdl-layout--fixed-tabs mdl-layout--fixed-drawer">
    <!-- HEADER -->
    <div class="mdl-layout__header mdl-color--blue-800 mdl-tabs">
        <!-- LOGO -->
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
                Material Dashboard
            </span>
        </div>
        
        <!-- TABS -->
        <div id="tab-nav" class="mdl-layout__tab-bar mdl-js-tabs mdl-js-ripple-effect">
            <a href="#home" class="mdl-layout__tab is-active">
                Home
            </a>
            <a href="#overview" class="mdl-layout__tab" ng-click="loadOverview()">
                Overview
            </a>
            <a href="#mantidas" class="mdl-layout__tab" ng-click="loadMantidas()">
                Mantidas
            </a>
            <a href="#conquistadas" class="mdl-layout__tab" ng-click="loadConquistadas()">
                Conquistadas
            </a>
            <a href="#perdidas" class="mdl-layout__tab" ng-click="loadPerdidas()">
                Perdidas
            </a>
            <a href="#pendentes" class="mdl-layout__tab" ng-click="loadPendentes()">
                Pendentes
            </a>
        </div>
    </div>
    
    <!-- DRAWER -->
    <div class="mdl-layout__drawer">
        <h4 class="mdl-layout-title mdl-typography--display-4 sidebar-name">
            Menu
        </h4>
    
        <div class="avatar-image">
            <img src="http://placehold.it/160x160" alt="">
        </div>
    
        <!-- DRAWER NAVIGATION -->
        <div class="mdl-navigation">
            <a href="#" class="mdl-navigation__link">
                <i class="material-icons md-dark">face</i>
                Perfil
            </a>
            <a href="#" class="mdl-navigation__link">
                <i class="material-icons md-dark">search</i>
                Visão Geral
            </a>
            <a href="#" class="mdl-navigation__link">
                <i class="material-icons md-dark">file_download</i>
                Downloads
            </a>
            <a href="#" class="mdl-navigation__link">
                <i class="material-icons md-dark">power_settings_new</i>
                Logout
            </a>
            <a href="#" class="mdl-navigation__link">
                <i class="material-icons md-dark">help</i>
                Ajuda
            </a>
        </div>
    </div>
    
    <!-- CONTENT -->
    <div id="tabbed" class="mdl-layout__content mdl-color--blue-100">
        <!-- HOME -->
        <div id="home" ng-include="'view/home.html'" class="mdl-layout__tab-panel is-active">
        </div>
        
        <!-- OVERVIEW -->
        <div id="overview" class="mdl-layout__tab-panel">
            <div class="mdl-grid contents">
                <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            Visão Geral
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <canvas class="chart chart-horizontal-bar" chart-data="overviewData.data" chart-labels="overviewData.labels" style="max-width:640px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( x, y ) in overviewData.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{ (y / overviewData.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- MANTIDAS -->
        <div id="mantidas" class="mdl-layout__tab-panel">
            <div class="mdl-grid contents">
                <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{mantidasData.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{mantidasData.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="mantidasData.data" chart-labels="mantidasData.labels" chart-options="mantidasData.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( x, y ) in mantidasData.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{(y / mantidasData.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
                
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                    <h2 class="mdl-typography--headline">
                        Detalhes
                    </h2>
                </div>
    
                <div ng-repeat="x in mantidasData.children" class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{x.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{x.info}}</p>
                        <canvas class="chart chart-pie" chart-data="x.data" chart-labels="x.labels" style="max-width:640px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( i, j ) in x.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{i}}</td>
                            <td>{{j}}</td>
                            <td>{{(j / x.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- CONQUISTADAS -->
        <div id="conquistadas" class="mdl-layout__tab-panel">
            <div class="mdl-grid contents">
                <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{conquistadasData.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{conquistadasData.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="conquistadasData.data" chart-labels="conquistadasData.labels" chart-options="conquistadasData.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( x, y ) in conquistadasData.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{(y / conquistadasData.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                    <h2 class="mdl-typography--headline">
                        Detalhes
                    </h2>
                </div>
            
                <div ng-repeat="x in conquistadasData.children" class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{x.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{x.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="x.data" chart-labels="x.labels" chart-options="x.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( i, j ) in x.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{i}}</td>
                            <td>{{j}}</td>
                            <td>{{(j / x.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- PERDIDAS -->
        <div id="perdidas" class="mdl-layout__tab-panel">
            <div class="mdl-grid contents">
                <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{perdidasData.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{perdidasData.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="perdidasData.data" chart-labels="perdidasData.labels" chart-options="perdidasData.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( x, y ) in perdidasData.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{(y / perdidasData.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                    <h2 class="mdl-typography--headline">
                        Detalhes
                    </h2>
                </div>
            
                <div ng-repeat="x in perdidasData.children" class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{x.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{x.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="x.data" chart-labels="x.labels" chart-options="x.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( i, j ) in x.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{i}}</td>
                            <td>{{j}}</td>
                            <td>{{(j / x.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- PENDENTES -->
        <div id="pendentes" class="mdl-layout__tab-panel">
            <div class="mdl-grid contents">
                <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            {{pendentesData.title}}
                        </span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{pendentesData.info}}</p>
                        <canvas class="chart chart-horizontal-bar" chart-data="pendentesData.data" chart-labels="pendentesData.labels" chart-options="pendentesData.options" style="max-width:640px;max-height:280px;margin:auto"></canvas>
                    </div>
                    <table class="mdl-data-table mdl-left mdl-js-data-table wide-table">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                            <th style="width: 30%">Qtde.</th>
                            <th style="width: 10%">%</th>
                        </tr>
                        <tr ng-repeat="( x, y ) in pendentesData.data_table">
                            <td class="mdl-data-table__cell--non-numeric">{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{(y / pendentesData.total) * 100 | number: 2}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="mdl-mini-footer mdl-color--blue-900">
        <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo">
                ©2017 NomeDaEmpresa
            </div>
        </div>
    </footer>
</div>
<!-- APP END -->

<!-- JAVASCRIPT -->
<script src="bower_components/material-design-lite/material.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/angular-chart.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/constant.js"></script>
<script src="scripts/service/baseService.js"></script>
<script src="scripts/controller/baseController.js"></script>

</body>
</html>