/**
 * EXERCÍCIO FRONT-END ANGULAR
 * ======================================================================
 * CSS para a dashboard e parte da interface.
 * ----------------------------------------------------------------------
 * @package     br.com.yuiti.exercicioangular
 * @author      Fabio Yuiti Goto <lab@yuiti.com.br>
 * @version     0.0.1
 */

/* HTML Base
 * ------------------------------------------------------------------ */
html {
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.contents {
    max-width: 960px;
}

.contents {
    max-width: 960px;
}

.wide-table {
    width: 100%;
}

.avatar-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
    img {
        margin: auto;
        position: absolute;
        top: -1000%;
        right: -1000%;
        bottom: -1000%;
        left: -1000%;
    }
}

.mdl-mini-footer {
    .mdl-logo {
        margin: auto;
    }
}