<div class="mdl-grid contents">
    <div class="mdl-cell mdl-card mdl-shadow--4dp mdl-cell--12-col mdl-cell--12-col-phone">
        <div class="mdl-card__title">
            <span class="mdl-card__title-text">
                Material Dashboard
            </span>
        </div>
        <div class="mdl-card__supporting-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                asperiores at consequatur consequuntur delectus dolore impedit
                nesciunt nobis optio ut?</p>
            <p>Ab blanditiis consequatur dolore eius, explicabo fugit maiores
                nisi nulla odio, odit provident quibusdam quis rerum, sapiente
                veritatis. Porro, soluta.</p>
            <p>Alias amet beatae, delectus, ducimus ea eveniet, in laboriosam
                laborum nobis non odio officiis quam quia temporibus voluptatum?
                Deserunt, velit!</p>
            <p>Aliquam consequuntur earum esse et, excepturi fugit ipsam ipsum
                iure libero, magni nam numquam odit provident quaerat quam
                quisquam sit.</p>
        </div>
        <div class="mdl-card__actions mdl-textfield--align-right">
            <a class="mdl-button mdl-typography--button-color-contrast mdl-js-button mdl-js-ripple-effect" href="#">
                <i class="material-icons">refresh</i>
                Atualizar Dados
            </a>
        </div>
    </div>
</div>